@model PizzaOnline.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<head>
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: linear-gradient(to top, #051937, #00375a, #005871, #007878, #009871);
}

.wrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  display: block;
    float: left;
  height: 420px;
  width: 327px;
}

.product-img img {
  position: absolute;
  top: 51%;
  left: 38%;
  transform: translate(-50%, -50%);
  border-radius: 7px 0 0 7px;
  
}
hr {
     display: block;
     color:rgba(71, 71, 71, 0.1);
     width: 275px;
 }
.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #a0f5c0;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 24px;
  padding-top: 20px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
    font-family: 'Libre Baskerville', serif;
}

.product-text p {
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Playfair Display', serif;
  color: #677372;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 19px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -15px;
  height: 50px;
  font-family: 'Lato', serif;
  margin: 0 0 0 25px;
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Lato', serif;
  font-size: 30px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 40px 15px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #008874;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}
    </style>
</head>


<div class="wrapper">
    <div class="product-img">
        <img src="@Url.Content(Model.ImageURL)" height="170" width="250">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>@Html.DisplayFor(model => model.ProductName)</h1>
            <hr>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="product-price-btn">
            <p><span>@Html.DisplayFor(model => model.Price)</span> VND</p>
            <button type="button" onclick="location.href='@Url.Action("OrderProduct","ShoppingCart",new {id = @Model.ProductID})'">Add to cart</button>
        </div>
    </div>
</div>

   
<p>
    @Html.ActionLink("Back to List", "List","Product")
</p>
